html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input,
button {
    color: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    background-color: #f2f2f2;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-interactive:hover {
    color: #81B3D2;
}

.text-interactive:active {
    opacity: 0.3;
}

.button-blue {
    background-color: #78B3D6;
}

.button-blue:hover {
    background-color: #669EC0;
}

.button-blue:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.button-brown {
    background-color: #7B6458
}

.button-brown:hover {
    background-color: #604E43;
}

.button-brown:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

/* Navigation */

.main-navigation {
    height: 56px;
    background-color: #ffffff
}

.site-navigation {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

.site-navigation-item {
    min-width: 25%;
    height: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.site-navigation-item:nth-child(1) {
    padding-left: 62px;
}

.site-navigation-item:nth-child(3) {
    justify-content: flex-end;
}

.site-navigation-item:nth-child(4) {
    padding-right: 62px;
    justify-content: flex-end;
}

.site-navigation-link {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.site-navigation-link__current {
    color: #766357;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.welcome-teaser {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 508px; 
}

.welcome-teaser-text {
    margin-top: -4px;
}

.welcome-teaser-image {
    background-image: url("../img/mountain-mask.svg"), url("../img/background-moutains.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: 451px, -55px;
}

.advantages-section {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 50px;
}

.advantages-section-text-one {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 27px;
    font-size: 21px;
}

.advantages-section-text-two {
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    width: 490px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

/* Hotels Search */

.search-header {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 140px;
}

.search-header-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 24px;
}

.search-header-text {
    text-align: center;
    text-transform: uppercase;
}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -86px;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
}

.search-form-title {
    display: block;
    width: 100%;
    background-color: #7B6458;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 21px;
    padding-bottom: 27px;
}

.search-form-body {
    padding-top: 55px;
    padding-bottom: 25px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.search-form-row {
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
}

.input-wrap {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.search-form-label {
    text-transform: uppercase;
    font-weight: bold;
    min-width: 112px;
}

.search-form-control {
    background-color: #EFF2D4;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    height: 38px;
    padding-left: 12px;
    width: 100%;
}

.search-form-control:hover {
    background-color: #EAEBCB;
}

.search-form-control:focus {
    background-color: #ffffff;
    outline: #E6E6C5 solid 2px;
}

.search-form-control-calender {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
}

.search-form-control-calender:hover {
    fill:#000000;
}

.search-form-control-calender:active {
    fill:#7DB4AE;
}

.kids-amount-text {
    min-width: 60px;
}

.input-amount {
    min-width: 38px;
}

.search-form-add-guests-button {
    border: 0;
    background-color: #EFF2D4;
    color: #B3A986;
    font-weight: bold;
    text-align: center;
    height: 38px;
    min-width: 38px;
}

.search-form-add-guests-button:hover {
    color:#000000;
    background-color: #EAEBCB;
}

.search-form-add-guests-button:active {
    color:#7DB5B2;
}

.search-form-row-reduced {
    width: 50%;
}

.search-form-submit {
    width: 100%;
    background-color: #78B3D6;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 22px;
    height: 60px;
}

.search-map {
    height: 473px;
    overflow: hidden;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #ffffff;
}

.footer-social-button-list {
    margin-top: 36px;
    display: flex;
    list-style: none;
}

.footer-hashtag {
    padding-left: 132px;
    margin-top: 45px;
    min-width: 400px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-copyright {
    display: flex;
    justify-content: flex-end;
    padding-right: 104px;
    margin-top: 50px;
    min-width: 400px;
    font-size: 14px;
    text-transform: uppercase;
}

.dev-logo {
    padding-left: 10px;
    margin-top: -10px;
    min-width: 120px;
}

.dev-logo:hover path {
    fill:#7DB4AE;
}

.dev-logo:active path {
    fill:#C7BD94;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    height: 48px;
    min-width: 48px;
    background-color: #78B3D6;
}

.social-button:active img {
    opacity: 0.3;
}

/* Hotels Catalog */

.catalog-list {
    list-style: none;
}

.catalog-item {
    display: flex;
    background-color: #ffffff;
    border-bottom: #f2f2f2 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 70px;
}

.catalog-item-image{
    align-self: center;  
}

.catalog-item-description{
    margin-left: 30px;
}

.catalog-item-title {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 1;
}

.catalog-category {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 8px;
}

.catalog-item-price {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 8px;
    margin-left: 35px;
}

.controls-group {
    display: flex;
    align-items: flex-end;
    margin-top: 14px;
}

.controls-group-button {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    padding-left: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.catalog-item-reservation {
    margin-left: 7px;
}

.catalog-item-rating {
    margin-left: auto;
    text-align: right;
}

.catalog-item-stars {
    margin-left: 3px;
}

.catalog-item-rating-text {
    margin-top: 42px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 16px;
    text-transform: uppercase;
    background-color: #F3F3F3;
}
